/* ui/tui.css */

Screen {
    layer: main;
    background: #1e1e1e;
    color: #cccccc;
    layout: vertical;

    /* Scrollbar Styling */
    scrollbar-size-vertical: 0;
    scrollbar-size-horizontal: 0;
}

Screen.dimmed {
    background: #1e1e1e 50%;
}

Header {
    layer: main;
    dock: top;
    height: 1;
    background: #282828;
    color: #e0e0e0;
    text-align: center;
}

Footer {
    layer: main;
    dock: bottom;
    height: 0;
    background: #282828;
    color: #e0e0e0;
    text-align: center;
}

#packet_table {
    layer: main;
    height: 1fr;
    border: heavy #404040;
    overflow-x: scroll;
    scrollbar-size-horizontal: 0;
    background: #2d2d2d;
    color: #cccccc;
}

#command_input {
    layer: main;
    dock: bottom;
    height: 3;
    background: #2d2d2d;
    color: #ffffff;
    border: tall white;
    padding: 0 1;
}

#detail_view {
    layer: overlay;
    display: none;

    background: #282828;
    border: wide #505050;
    padding: 1;
    width: 80%;
    height: 80%;
    max-width: 100;
    max-height: 30;
}

#detail_view.visible {
    display: block;
}
