/* ui/tui.css */

Screen {
    background: #1e1e1e;
    color: #cccccc;
    layout: vertical;

    /* Scrollbar Styling */
    scrollbar-size-vertical: 1;
    scrollbar-size-horizontal: 0;
    scrollbar-background: red;
    scrollbar-background-active: #4a4a4a;
    scrollbar-background-hover: #4a4a4a;
    scrollbar-color: #707070;
    scrollbar-color-active: #aaaaaa;
    scrollbar-color-hover: #808080;
    scrollbar-corner-color: red;
}

Header {
    dock: top;
    height: 1;
    background: #282828;
    color: #e0e0e0;
    text-align: center;
}

Footer {
    dock: bottom;
    height: 0;
    background: #282828;
    color: #e0e0e0;
    text-align: center;
}

#packet_table {
    height: 1fr;
    border: heavy #404040;
    overflow-x: scroll;
    background: #2d2d2d;
    color: #cccccc;

    scrollbar-size-vertical: 1;
    scrollbar-size-horizontal: 0;
    scrollbar-background: transparent;
    scrollbar-background-active: transparent;
    scrollbar-background-hover: transparent;
    scrollbar-color: #707070;
    scrollbar-color-active: #aaaaaa;
    scrollbar-color-hover: #808080;
    scrollbar-corner-color: transparent;
}

#packet_table:focus {
    background: #2d2d2d;
    color: #cccccc;
}

#command_input {
    dock: bottom;
    height: 3;
    background: #2d2d2d;
    color: #ffffff;
    border: tall white;
    padding: 0 1;
}

#command_input:focus {
    border: tall white;
}
